<div class="view option_view">
    <h1>Options</h1>
    <div class="tool_wrapper">
        <button type="button" name="" value="" class="button_tag new_tag">Tag hinzufügen<span class="entypo-plus"></span></button>
        <button type="button" name="" value="" class="button_tag new_tag">Notiz löschen<span class="entypo-trash"></span></button>
    </div>
    <div class="tag_wrapper">
        <button type="button" name="" value="" class="button_tag">Mein Tag<span class="entypo-cancel"></span></button>
        <button type="button" name="" value="" class="button_tag">Dein Tag<span class="entypo-cancel"></span></button>
        <button type="button" name="" value="" class="button_tag">Unser Tag<span class="entypo-cancel"></span></button>
    </div>
</div>